body, li, div, button, input {
    margin: 0;
    padding: 0;
}

.login h2 {
    text-align: center;
    font-family: sans-serif;
}

#login {
    margin: auto;
    width: 16em;
    padding-top: 13em;
}


.login button {
    display: block;
    text-decoration: none;
    width: 100%;
}

.login input{
    margin: 0 auto 0 auto;
}


.login button:first-child{
    margin-top: 1em;
}

.login_input {
    display: block;
}