body, li, div, button {
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    font-family: sans-serif;
}

.login {
    margin: auto;
    width: 12em;
    padding-top: 13em;
}


button {
    display: block;
    text-decoration: none;
    width: 100%;
}

input:hover, button:hover {
    padding: 0.5em 0 0.5em 0;
}

button:first-child{
    margin-top: 1em;
}

.login_input {
    display: block;
}